<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spieler bearbeiten</title>
</head>
<body>
    <h2>Spieler bearbeiten</h2>
<form action="/spieler_bearbeiten" method="POST">
    <input type="hidden" name="spieler_id" value="{{ spieler.id }}">
    <label for="spieler_vorname">Vorname:</label>
    <input type="text" name="spieler_vorname" value="{{ spieler.vorname }}" required>
    
    <label for="spieler_nachname">Nachname:</label>
    <input type="text" name="spieler_nachname" value="{{ spieler.nachname }}" required>
    
    <button type="submit">Ändern</button>
</body>
</html>